body{
 background-image: url("https://static.vecteezy.com/system/resources/previews/011/358/948/non_2x/abstract-business-background-with-yellow-and-black-colour-free-vector.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
