body{
 background-image: url("m.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
 }

head{
 background-image: url("f.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center;
 }
